/*Идея*/
.idea{
    margin-top: 67px;
    &__wrap-title{
        margin-bottom: 54px;
        text-align: center;
        font-weight: var(--weight_titles);
        font-family: var(--font_bold);
        font-size: var(--title_medium);
        @media screen and (max-width: 576px){
            font-size: var(--title_super-mobile);
        }
    }

    &__cards{
        justify-content: space-between;
        text-align: center;
        @media screen and (max-width: 1200px){
            row-gap: 50px;
        }

        h6{
            margin: 24px 0;
            font-weight: var(--weight_titles);
            font-family: var(--font_bold);
            font-size: var(--title_standard);
        }
        p{
            font-weight: var(--weight_text);
            font-family: var(--font_regular);
            font-size: var(--text_main);
            @media screen and (max-width: 576px){
                font-size: var(--text_main-mobile);
            }
        }
    }
}

/*Конец Идея*/