/*Свайпер*/
.swiper{
    width: 90%;
    height: 100%;

    &-slide{
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            object-fit: cover;
        }
    }
}
/*Конец Свайпер*/